//tons de cinza
$c1: #F7F7F7;
$c2: #EDEDED;
$c3: #DEDEDE;
$c4: #CCCCCC;
$c5: #B2B2B2;
$c6: #9C9C9C;
$c7: #717171;
$c8: #595959;
$c9: #404040;
$c10: #2E2E2E;
$c11: #1A1A1A;
$c12: #0E0E0E;

//cores principais
$p1: #AEFE02;
$p2: #023701;
